/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width: 1125px) {
	.box {
		width: 45%;
		margin-top: 20px;
	}
}

@media (max-width: 1024px) {
	.text-block,
	.title,
	.footer-div,
	a {
		padding-left: 10px;
	}
}
@media (max-width: 960px) {
	.section-div {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.text-block {
		padding-top: 30px;
	}
}
@media (max-width: 768px) {
	.navigation {
		display: none;
	}
	.burger-icon {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-right: 30px;
	}
}
@media (max-width: 555px) {
	.section-img {
		width: 90%;
		margin-left: 20px;
	}
}
@media (max-width: 480px) {
	.box {
		padding-bottom: 20px;
	}
}
@media (max-width: 440px) {
	.box-wraper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.box {
		width: 90%;
	}
}
@media (max-width: 320px) {
	.title,
	.section-h2,
	.section2-h2 {
		font-size: 38px;
	}
	.box-wraper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 90%;
	}
	.section2-h2 {
		font-size: 40px;
	}
}